strict-peer-dependencies=true
auto-install-peers=false
shamefully-hoist=false
public-hoist-pattern[]=@types/*

@murai-wallet:registry=https://npm.pkg.github.com
@murai:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
